.TagBox {
    overflow: scroll;
    white-space: nowrap;
    margin-top: 5px;
    margin-bottom: 5px;
}

.Tag {
    font-size: 14px;
    font-weight: 400;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    margin: 3px;
    border-radius: 100px;
    height: 2.2rem;
}

.TagWrap {
    margin-right: 4px;
}
