.Home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Card {
    // margin: 0 auto;
    margin: 5px;
    width: 185px;
}

.Affix {
    display: flex;
    flex-direction: row-reverse;
}

.SyncIcon {
    font-size: 1.5rem;
}
